.menu__link{
    color: #808080;
    margin: 0 1.25rem 0 0;
    text-decoration: none;
    text-transform: lowercase;
}

.ativo{
    color: #333333;
    font-weight: bold;
}

.menu__link:hover{
    text-decoration: underline;
}